h4{
    text-align: center;
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    color: antiquewhite;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


    a {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
       font-style: initial;
        font-weight: 100;
        font-size: larger;
        place-content: middle;
        padding: 10px 20px;
       background-color: mediumpurple;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        text-align: center;
        display: inline-block;
        display: inline-block;
        display: inline-block;
        display: inline-block;
        

}

body{
    background-color: #222831;
}